In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("social.csv")

In [3]:
df.tail(10)

      User ID  Gender  Age  EstimatedSalary  Purchased
390  15807837    Male   48            33000          1
391  15592570    Male   47            23000          1
392  15748589  Female   45            45000          1
393  15635893    Male   60            42000          1
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [4]:
df.shape

(400, 5)

In [5]:
features=df.iloc[:,0:-1].values

In [6]:
features[0]

array([15624510, 'Male', 19, 19000], dtype=object)

In [7]:
label=df.iloc[:,-1].values

In [8]:
label[0]

0